/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #1F2641;
  
}
.container {
  overflow-y: scroll;
    overflow-x: hidden;
  position: fixed;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  right: 760px;
  top: 98px;
  height: 620px;
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: #1F2641;
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #1F2641;
}
.form button:hover {
  background: #5838fa;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin-left: 1300px;
  margin-top: 13px;
}
.yo{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Gilroy';
  font-weight: bolder;
  color: black;
  background-color: white;
  border: 2px solid white;
  padding: 14px 20px;
  border-radius: 50px;
  margin-right: -15px;
  display: block;
  bottom: 23px;
  position: fixed;
  right: 42px;
  bottom: 675px;

}

.yo1{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Gilroy';
  font-weight: bolder;
  color: black;
  background-color: white;
  border: 2px solid white;
  padding: 14px 20px;
  border-radius: 50px;
  margin-right: -15px;
  display: block;
  position: fixed;
  bottom: 675px;
  left: 1287px;

}

nav ul li a:hover{
  background-color: transparent;
  color: white;
}

.yoni li{
  display: inline;
  float:left;
}
#video{
  position: fixed;
left: -23px;
right: 0;
bottom: -62px;



}

@media(min-aspect-ratio: 16/9){
  #video{
      width: 1650px;
      height: 842px;
  }
}

@media(max-aspect-ratio: 16/9){
  #video{
      width: auto;
      height: 100%;
  }
}
nav .logo{
  height:  92px;
  position: fixed;
  top: -1;
  left: 0;
  right: 0;
  margin-left: 50px;
  padding: 20px ;
  display: flex;
}
.container::-webkit-scrollbar{
  width: 15px;
  border-radius: 20px;
}
.container::-webkit-scrollbar-track{
  background-color: #efefef;
  border-radius: 20px;
}
.container::-webkit-scrollbar-thumb{
  background-color: #5d6481;
  border-radius: 20px;
}